pandas==1.0.5
tensorflow
keras==2.4.3
pytest==5.0.1
coverage==4.5.4
flake8==3.7.8
pytest-cov==2.7.1
scikit-learn==0.22
mlflow==1.4.0
google-api-python-client==1.7.9
google-auth-httplib2==0.0.3
google-auth-oauthlib